@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: theme('colors.stone.100');
    color: theme('colors.stone.800');
    font-weight: 300;
    letter-spacing: 0.025em;
  }
}

@layer components {
  .stoic-transition {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}